.product{
    width:400px;
    margin:10px;
    display: inline-flex;
}
.product-img{
    display:flex;
    margin-top: 50px
    
}
.btn-right{
    float:right;
}

.padding-rt{
    margin-right: 50px
}
.padding-rt1{
    margin-left: 80px
}